apiVersion: v1
kind: Config
clusters:
- name: {{.ClusterName}}
  cluster:
    certificate-authority-data: {{.CA}}
    server: {{.Server}}
contexts:
- name: default-context
  context:
    cluster: {{.ClusterName}}
    namespace: {{.Namespace}}
    user: {{.User}}
current-context: default-context
users:
- name: {{.User}}
  user:
    token: {{.Token}}
